.ah
  &-single-article
    &-wrapper
      margin: 0 auto 3em
      padding: 0 20px

      p
        line-height: 1.875

    &-heading

    &-date
      font-style: italic
      margin-bottom: 1.5em
    &-content
