.mobile-menu
  display: flex
  flex-direction: column
  align-items: center
  color: #eeeeee
  height: 100vh
  width: 100vw
  z-index: 10
  position: fixed
  top: 0
  background: #333
  text-align: center
  box-sizing: border-box
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

  ul
    list-style: none
    margin: 40px

  a
    color: #333

  &__header
    margin: 0 auto
    width: 80vw
    max-width: 400px
    margin: 30px 40px 0px
    font-size: 50px
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
    font-weight: bold
    display: flex
    justify-content: space-between
    align-items: center

  &__button
    padding: 0
    margin-right: -10px
    border: none
    background-color: transparent
    color: #eeeeee
    cursor: pointer

  &__item-wrapper
    background: #eeeeee
    padding: 10px
    margin: 20px auto
    display: flex
    justify-content: center
    width: 80vw
    max-width: 400px

    &:hover
      background: #FF0000
      color: #eeeeee

    h2
      font-size: 40px
      letter-spacing: 0.11em
      font-weight: 900

  &__submenu
    display: flex
    justify-content: center
    font-size: 14px
    margin: 0 40px
    max-width: 400px

  &__submenu-item
    padding: 0 5px