.ah
  &-wrapper
    margin: 0 auto
    max-width: 960px
    padding: 0px 1.0875rem 1.45rem
    padding-top: 0
    color: white

  &-header
    background: #333
    margin-bottom: 0
    &-title
      margin: 0
      padding: 0
      font-size: 15rem
      &-left
        line-height: 0.65
      &-right
        line-height: 0.7
        display: flex
        flex-direction: row
        justify-content: flex-end
      &-link
        margin: 0
        padding: 0
        color: white
        text-decoration: none

    &-mobile-menu-button-wrapper
      margin: 0 auto
      max-width: 960px
      padding: 1.45rem 2rem
      display: flex
      justify-content: flex-end

  &-menu
    &-list
      margin: 0
      list-style: none
      display: flex
      justify-content: space-between
      &-item
        background: white
        font-size: 2em
        padding: 0px 10px
        color: #333333

  &-page
    margin-bottom: 1.45rem
    background: pink

  &-news
    background: #BADA55
    padding: 20px
    margin-bottom: 10px
    color: #333333

@media only screen and (max-width: 1330px) and (min-width: 1065px)
  .ah
    &-header-title
      font-size: 12em
@media only screen and (max-width: 1064px) and (min-width: 805px)
  .ah
    &-header-title
      font-size: 9em
@media only screen and (max-width: 804px) and (min-width: 625px)
  .ah
    &-header-title
      font-size: 7em
@media only screen and (max-width: 624px) and (min-width: 321px)
  .ah
    &-header-title
      font-size: 4.5em
@media only screen and (max-width: 320px)
  .ah
    &-header-title
      font-size: 4em
