body
  --primary-color: #F7F7F7
  --secondary-color: #333333
  --secondary-color: #0498a0
  --secondary-color: #333333
  --tertiary-color: #2f8ea8
  --tertiary-color: #ffa100
  --custom-white: #FFFFFF
  --custom-black: #000000

  //menu placeholder to occupy corresponding inline space when menu is in fixed mode
  --menu-placeholder-height: 67.84px
  --footer-height: 100px
  --footer-bottom: 8px

  background-color: var(--primary-color)
  overflow-x: hidden

ul
  margin: 0

.ah
  &-primary
    color: var(--primary-color)

  &-outer-wrapper
    position: relative
    background-color: var(--primary-color)
    overflow: "hidden"
    min-height: 100vh
    padding-bottom: calc(var(--footer-height) + var(--footer-bottom))

  &-inner-wrapper
    margin: 0 auto
    max-width: 900px
    padding: 0px 1.0875rem 1.45rem
    color: var(--secondary-color)

    &--dark
      color: var(--primary-color)

  &-header
    padding-bottom: 7px
    &-title
      margin: 0.2rem 0 0 0
      padding: 0
      font-size: 15rem
      letter-spacing: -0.5rem
      z-index: 0
      text-shadow: 4px 4px var(--custom-black)

      &-upper-wrapper
        display: flex
        justify-content: space-between

      &-left
        position: relative
        margin-left: -0rem
        line-height: 0.65
        &-da-kerning
          letter-spacing: -1.4rem
      &-lower-wrapper
        overflow: hidden
        padding-bottom: 11px
        margin-bottom: -13px
      &-right
        position: relative
        margin-right: 0.2rem
        line-height: 0.74
        overflow: visible
        display: flex
        flex-direction: row
        justify-content: flex-end
      &-link
        margin: 0
        padding: 0
        color: var(--secondary-color)
        text-decoration: none

  &-page
    margin-bottom: 1.45rem

  &-news
    background: var(--custom-white)
    padding: 20px
    margin-bottom: 10px
    color: var(--secondary-color)