.ah
  &-article
    &-wrapper
      box-shadow: 2px 2px 6px #CCCCCC
      margin-bottom: 40px

    &--split
      display: flex
      &-section
        width: 50% !important
        display: flex
        align-items: center

    &-visual
      &-title
        background-color: #DDDDDD
        color: #333333
        margin: 0
        height: 50px
        padding: 0 20px
        display: flex
        align-items: center
        letter-spacing: 0.1rem
        font-size: 14px
      &--video
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        &-container
          position: relative
          width: 100%
          height: 0
          padding-bottom: 56.25%
          overflow: hidden

      &--image-wide
        &-container
          width: 100%

      &--image-square
        &-outer-container
          display: flex
          justify-content: center
          width: 50%
          margin: 0
        &-inner-container
          width: 100%
      &-credit
        display: flex
        justify-content: center
        font-size: 13px
        font-style: italic
        color: gray

    &-title
      background-color: #DDDDDD
      color: #333333
      margin: 0
      height: 50px
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: nowrap
      letter-spacing: 0.1rem
      font-size: 14px
      padding: 0 20px
      &-link
        width: 50%
        color: var(--secondary-color)
        &:hover
          text-decoration: underline

    &-info
      &-wrapper
        padding: 20px
        font-size: 14px
        display: flex
        justify-content: center
      &-paragraph
        position: relative
        margin: 0
        &--list
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          width: 100%
          height: 100%
          padding: 30px
        &--block
          margin: 20px 20%
          width: 100%
        &-heading
          margin-bottom: 10px
          font-size: 24px
          font-family: georgia
          font-style: italic
          font-weight: bold
          a
            color: var(--secondary-color)
            &:hover
              text-decoration: underline
              text-decoration-color: var(--tertiary-color)

          &--space
            margin-top: 10px
            margin-bottom: 25px
      &--addon-info
        padding-top: 0
        padding-bottom: 50px !important
        display: flex
        flex-direction: column
        align-items: center

    &--news
      h3
        font-family: 'Montserrat', sans-serif
        font-size: 14px
        font-weight: 700
        line-height: 1.45rem

    &--tour
      &-wrapper
        font-family: monospace
        max-width: 100%
        width: 497px
      &-item
        display: flex
        align-items: center
        height: 1.86em
        width: 100%
        max-width: 100%
        white-space: nowrap
        overflow: hidden

        &-date
          display: inline-block
          text-align: center

        &-country
          padding: 0 8px
          display: inline-block
          font-size: 20px
          position: relative
          top: 2.5px

        &-city
          font-weight: bold
        &-state
          font-weight: bold
        &-separator
          padding: 0 6px
        &-venue
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis

      &--noshows-placeholder
        font-family: 'Montserrat', sans-serif
        font-style: italic

    &-fold-out
      &-section
        display: none
        &--visible
          display: flex
      &-trigger
        display: flex
        justify-content: center
        font-size: 50px
        position: absolute
        bottom: 0
        width: 100%
        border: none
        background: none
        opacity: 0.2
        padding: 10px
        outline: none
        cursor: pointer
        &-icon
          width: 90px
        &:hover
          opacity: 0.7
      &-player-wrapper
        overflow: hidden

// Breakpoint for splitting image and info horizontally
@media only screen and (max-width: 750px)
  .ah
    &-article
      &--split
        flex-direction: column
        &-section
          width: 100% !important
      &-info
        &-wrapper
          padding: 12px

        &-paragraph
          &--release-info
            padding-bottom: 50px

          &--block
            margin: 20px 5%

    &-contact
      &-logo-wrapper--tennis
        height: 50px
        margin: 10px 0 15px
      &-logo-wrapper--media-horse
        margin: 10px 0

// Breakpoint for rearranging tour items
@media only screen and (max-width: 590px)
  .ah
    &-article
      &--tour
        &-wrapper
        &-item
          flex-direction: column
          height: auto
          margin-bottom: 20px
          padding: 5px 0

          &-date
            font-style: italic
          &-country
            padding-left: 0
          &-separator
            display: none
          &-venue
            max-width: 100%
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
        &--noshows-placeholder
          display: flex
          justify-content: center
