.ah
  &-footer
    position: absolute
    bottom: var(--footer-bottom)
    background-color: var(--secondary-color)
    margin-left: 1vw
    width: 97.5vw
    box-shadow: 4px 4px var(--custom-black)
    height: var(--footer-height)
    display: flex
    align-items: center

    &-content
      justify-content: flex-end
      align-items: flex-start
      border: 1px solid red

    &-link
      color: var(--primary-color)
      &:hover
        color: var(--tertiary-color)
