.ah
  &-footer
    position: absolute
    bottom: var(--footer-bottom)
    background-color: var(--secondary-color)
    margin-left: 1vw
    width: 97.5vw
    box-shadow: 4px 4px var(--custom-black)
    height: var(--footer-height)
    display: flex
    align-items: center
    justify-content: center

    &-content
      font-size: 12px
      color: var(--primary-color)
      width: 100%
      padding: 0px 30px
      max-width: 900px
      display: flex
      justify-content: space-between

      &-box
        display: flex
        flex-direction: column
        align-items: stretch

        &-heading
          font-size: 14px
          font-weight: bold
          height: 26px

        &--center
          align-items: center
        &--right
          align-items: flex-end

    &-link
      color: var(--primary-color)
      display: flex
      align-items: center

      &:hover
        color: var(--tertiary-color)

    &-menu-container
      display: flex
      justify-content: space-between
      width: 140px
    &-tennis-logo
      padding-top: 2px
