.ah
  &-downloadable-image-collection
    &-wrapper
      width: 80%
      max-width: 400px
  &-downloadable-image
    &-card
      width: 100%
      border: 1px solid var(--secondary-color)
      margin-bottom: 40px

      &-info-wrapper
        background-color: var(--custom-white)
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        padding: 10px 10px 30px 10px

      &-meta
        &-wrapper
          margin: 10px 0px
          width: 100%
          display: flex
          flex-direction: column
          align-items: center
        &-item
          margin: 5px 20px
          font-size: 14px
          line-height: 1.5

    &-display
      position: relative

    &--highlighted
      border: 1px solid var(--custom-black)
      transform: translate(-20.2%, -50%)
      width: 163%
      max-width: 100vw
      margin: 2px
      z-index: 2
      position: absolute
      top: 0
      box-shadow: 6px 6px var(--custom-black)
      &-wrapper
        width: 100%
        height: 50%
        position: absolute
        bottom: 0

    &-zoom-icon
      color: var(--primary-color)
      background-color: rgba(0, 0, 0, 0.5)
      font-size: 1em
      width: 10%
      height: 10%
      border-radius: 50%
      padding: 2%
      top: 5%
      left: 5%
      z-index: 1
      position: absolute

    &-link
      color: var(--secondary-color)
      padding: 0 7px
      &:hover
        text-decoration: underline
        cursor: pointer

@media only screen and (max-width: 900px)
  .ah
    &-downloadable-image
      &-card
        &-info-title
          font-size: 14px
          font-weight: bold
      &-meta-item
        margin: 5px 10px
        font-size: 12px
